<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="Grid1.css"/>
        <title>Document</title>
    </head>
    <body>
        <div class="wrapper">
            <div>
                lorem ipsum
            </div>
            <div>
                lorem ipsum
            </div>
            <div>
                lorem ipsum
            </div>
            <div>
                lorem ipsum
            </div>
            <div>
                lorem ipsum
            </div>
        </div>
        <div class="nested">
            <div>
                lorem ipsum
            </div>
            <div>
                lorem ipsum
            </div>
            <div>
                lorem ipsum
            </div>
            <div>
                lorem ipsum
            </div>

        </div>
    </body>
</html>