<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="Grid2.css"/>
        <title>Document</title>
    </head>
    <body>
        <!-- <div class="wrapper">
            <div class="box box1">Box1</div>
            <div class="box box2">Box2</div>
            <div class="box box3">Box3</div>
            <div class="box box4">Box4</div>
        </div> -->
        <div class="container">
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
            <div ></div>
        </div>
    </body>
</html>